*{
    background-color:#ccffcc;
    
    margin:0;
    padding:0;
    
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .container{
    width: 700px;
    height: 400px;
    
    flex-direction: column;
    justify-content: center;
  }
  
  h1{
    margin-right: 300px;
    margin-top: -10px;
  }
  
  
  
  .add{
    height: 30px;
    width: 200px;
    background-color: rgb(240, 232, 219);
  }
  
  .root h1{ 
      margin-bottom: -4%;
  }
  
  .add{
    margin-left: 60%;
    margin-top: -45px;
  }
  
  
  
  table{
    border-collapse: collapse;
    width: 550px;
  }
  
  
  th,tr{
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
   th{
    background-color:rgb(222, 215, 215);
   }