*{
    background-color:#ccffcc;
    
  margin:0;
  padding:0;
  
  font-family: Arial, Helvetica, sans-serif;
}

body{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.container{
  width: 400px;
  height: 400px;
  
  flex-direction: column;
  justify-content: center;
}

.id .input-field input{
  width: 200px;
  height: 25px;
}
.root .input-field input{
  width: 350px;
  height: 25px;
}

.details .input-field input{
  width: 350px;
  height: 25px;
}

.mobile .input-field input{
  width: 350px;
  height: 25px;
}

.button1{
  background-color:green;
  height: 30px;
  width: 150px;
  
}

.button2{
  background-color:red;
  height: 30px;
  width: 150px;
}