body {
    font-family: sans-serif;
    background-color: rgb(207, 205, 205);    
}
.container{
    text-align: center;
    text-shadow: 2px;
    /* margin-left: 10%; */
   }

#container1{
    display: flex;
}

#id{
    border-radius: 8px;
    height: 15px;
    width: 350px;
    border: 1px solid transparent; 
  padding:  10px;
  box-shadow: 5px 5px 5px grey;
  margin:20px;
}

#caret{
  border-radius: 8px;
  height: 15px;
  width: 350px;
  border: 1px solid transparent; 
padding:  10px;
box-shadow: 5px 5px 5px grey;
margin:20px;
}

.border-hover {
    border: 1px solid transparent; 
    padding:  10px;
    box-shadow: 5px 5px 5px grey; 
  }
  
  .border-hover:hover {
    border-color:blue;
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 20px;
    border-radius: 5px;
    outline: none;
    margin-bottom: 30%;
    width: 150px;
  }
  
  .second-row{
    margin-left: 35%;  
    text-align: left;
  }
  
