body{
  text-align: left;
  margin:0;
  padding:0;
  font-family: sans-serif;
  background-color: rgb(207, 205, 205);
}
.container{
  text-align: center;
  text-shadow: 2px;
 }
 #id{
  border-radius: 8px;
  height: 15px;
  width: 400px;
  border: 1px solid transparent; 
padding:  10px;
box-shadow: 5px 5px 5px grey;
margin:20px;
}

#name{
  border-radius: 8px;
  height: 15px;
  width: 400px;
  border: 1px solid transparent; 
padding:  10px;
box-shadow: 5px 5px 5px grey;
/* margin:20px; */
}

  .border-hover {
    border: 1px solid transparent; /* Initially set a transparent border */
    padding:  10px;
    box-shadow: 5px 5px 5px grey;
  }
  
  .border-hover:hover {
    border-color:blue /* Change the border color on hover */
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    outline: none;
    margin-bottom: 30%;
  }
  
  #footer {
    color: #080808;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
} 
  
