body {
    background-color: #ccffcc;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    width: 95%;
    
  } 
  
  .container {
    /* width: 300px; */
    
    text-align: left;
    margin: 20px;
    
  } 
  
  label, input, button {
    margin: 10px;
  }
  
  #saveBtn {
    height: 40px;
    width: 250px;
    background-color: rgba(0, 128, 49, 0.849);
    color: #fff;
    border: none;
    padding: 10px;
    margin-left: 340px;
  }
  
  #backBtn{
  width: 250px;
  height: 40px;
  padding: 10px;
  color: #fff;
  border: none;
  background-color: #f44336;
  justify-content: right;
  }
  
  #Id{
    width: 50%;
    height: 20px;
  }
  
  #name{
    width: 95%;
    height: 20px;
  }
  .first-row{
    display: flex;
    width: 90%;
    margin-left: 40px;
}
.from{
    width: 300%;
    height: 300;
    margin-left: 300px;
    align-items: right;
    justify-content: space-between;
}
.To{
 margin-right: 400px;
}
.customer{
    margin-left: 340px;
    width: 300px;
    height:25px;
}
#customer{
width: 520px;
height:25px;
}
table {
    border-collapse: collapse;
    width:46%;
    margin-left: 340px;
}
th,td{
    border: 1px solid rgb(12, 12, 1);
    text-align: left;
    padding: 8px;  
}

th {
    background-color:rgb(211, 206, 206);
}

.button3{
    width: 526px;
  height: 40px;
  padding: 10px;
  color: #fff;
  border: none;
  background-color: #f44336;
  justify-content: right;
  margin-left: 340px;
}