*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    
}
body{
    display:flex;
    background-color:#CCFFCC;
     align-items: center; 
    height:80vh;
    display: flex;
    justify-content: center;
}


.container{
    width:650px;
    height:500px;
     justify-content:center ;
     flex-direction: column;
     justify-content: left;
}

.first-row {
    display: flex;
    width:90%;
    margin-right:40px;
}
.date{
    width:300%;
    height:300;
    margin-right:-500px;
    align-items:right;
    justify-content: space-between;

}

.second-row {
    display: flex;
    width:90%;
    margin-right:40px;
}
.from{
    width:300%;
    height:300;
    margin-right:-500px;
    align-items:right;
    justify-content: space-between;

}

#customer{ 
    width: 590px;
    height: 25px;
}

.button1{
    background-color: rgb(96, 178, 96);
    width: 290px;
    height: 40px;
}

.button2{
    background-color: rgb(241, 62, 62);
    margin-left:0;
    width: 300px;
    height:40px;
    padding:10px;
}

#container1{
    display: flex;
}
#inaccount{
    width:600px;
    height: 25px;
}
.button3{
    background-color:white;
    margin-left:120px;
    width: 300px;
    height:40px;
    padding:10px;
}

