body {
  background-color: #ccffcc;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  align-items: center;
  justify-content: center;
  max-width: 38rem;
  padding: 2rem;
}

.container1 {
  display: flex;
}

.container2 {
  display: flex;
 
}

/* .btn{
  border-radius: 100px;
  width: 300px;
  height: 115px;
  margin: 5px 10px;
  border: 5px  solid rgb(252, 15, 7);
} */

button{
  border-radius: 100px;
  width: 300px;
  height: 115px;
  margin: 5px 10px;
  border: 5px  solid rgb(252, 15, 7);
}

/* .button5{
  border-radius: 25%;
  margin: 5px 10px;
  width: 600px;
  height: 100px;
  background-color: #fdd1ce; 
  box-shadow: 0px 20px 3px rgb(56, 8, 2);
} */

.custom-button
{
  border-radius: 25%;
  margin: 5px 10px;
  width: 600px;
  height: 100px;
  background-color: #fdd1ce; 
  border: none;
  box-shadow: 0px 20px 3px rgb(56, 8, 2);
}

.container {
  display: flex; /* Use flexbox for horizontal layout */
  align-items: center; /* Align items vertically in the center */
}
/* Style for time and date elements */
.time, .date {
  margin-right: 20px; /* Add some margin between time and date */
  font-size: 18px; /* Adjust font size */
}
.rectangle {
  width: 600px;
  height: 100px;
  background-color: #fdd1ce; /* or any other color */
  border-radius: 30px;
  /* border-color: rgb(0, 26, 255); */
  /* box-shadow: 0px 4px 8px rgba(0,0,0,0.1);  */
  /* background-color: #f0f0f0;  */
  /* box-shadow: 5px 20px 5px rgba(95, 19, 5, 0.5);  */
  box-shadow: 0px 20px 3px rgb(56, 8, 2);
}

.navbar {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 20px; /* Padding between tabs */
}

.navbar a:hover {
  background-color: #555;
}

.container {
  /* background-color: #333; */
  /* overflow: hidden; */
  display: flex;
  justify-content: space-around;
}

.container a {
  color: rgb(8, 8, 8);
  text-decoration: none;
  padding: 10px;
}

.menu-icon-container {
  position: relative;
  float: right; /* Align the icon to the right side */
  margin-right: 10px; /* Adjust margin as needed */
  line-height: 40px; /* Vertical alignment */
  margin-top: -45px;
}

.menu-icon-container i {
  margin-right: 5px; /* Adjust spacing between icon and text */
}

/* Additional styles for the text */
.menu-text {
  font-size: 16px; /* Adjust font size as needed */
  color: #333; /* Adjust text color */
  /* Additional styles can be added */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}