body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.bg-img{
  height: 100%;
  width: 100%;
  position: fixed;
}
.logoimg{
  align-self: center;
  height: 100px; 
  width: 100px;
}
.hero-section{
  height: 100%;
  width: 1536px;
  position: absolute;
  display: flex;
}
.section1{
  height:100%;
  width:20%;
  background-color: rgba(255, 255, 255, 0.3);
  border: solid black;
}
.section2{
  height: 100%;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.3);
  border: solid black;
}
h2{
  color: #f1f1f1;
}
.container1 {
  display: flex;
}

.container2 {
  display: flex;
 
}
.box1{
  border-radius: 100px;
  width: 300px;
  height: 115px;
  margin: 5px 10px;
  border: 5px  solid rgb(252, 15, 7);
}
.custom-button
{
  border-radius: 25%;
  margin: 5px 10px;
  width: 600px;
  height: 100px;
  background-color: #fdd1ce; 
  border: none;
  box-shadow: 0px 20px 3px rgb(56, 8, 2);
}

.container {
  display: flex; /* Use flexbox for horizontal layout */
  align-items: center; /* Align items vertically in the center */
}
/* Style for time and date elements */
.time, .date {
  margin-right: 20px; /* Add some margin between time and date */
  font-size: 18px; /* Adjust font size */
}
.rectangle {
  width: 600px;
  height: 100px;
  background-color: #fdd1ce; /* or any other color */
  border-radius: 30px;
  /* border-color: rgb(0, 26, 255); */
  /* box-shadow: 0px 4px 8px rgba(0,0,0,0.1);  */
  /* background-color: #f0f0f0;  */
  /* box-shadow: 5px 20px 5px rgba(95, 19, 5, 0.5);  */
  box-shadow: 0px 20px 3px rgb(56, 8, 2);
}
.navbar {
  margin-top: 265px;
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 20px; /* Padding between tabs */
}

.navbar a:hover {
  background-color: #555;
}

.container {
  display: flex;
  justify-content: space-around;
}

.container a {
  color: rgb(8, 8, 8);
  text-decoration: none;
  padding: 10px;
}