
body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
 
}
.login-container {
  height: 600px;
  width: 600px;
  /* align-content: center; */
  background: rgba(255, 255, 255, 0.5);
  border: #fff;
  border-radius: 33px;
  position: absolute;
  margin-bottom: 40px;
}
.logo{
  height: 200px;
  width: 200px;
  margin-left:200px;
  margin-top: 30px; 
  margin-bottom: 130px; 
}
#Rememberme{
  font-size: 16px;
  border-radius:40px ;
}
#username, #password{
  font-size: 20px;
  height: 40px;
  width:75%;
  text-align: center;
  align-self: center;
  border: solid 2px #d5caca;
  border-radius: 15px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.spider{
  align-self: center;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
.checkbox{
  margin-left: 35px;
  display: flex;
}
#checkbox{
  height: 15px;
  width: 15px;
}
.loginbtn{
  align-self: center;
}

 button {
  height: 35px;
  width: 100px;
  margin-top: 5px;
  text-decoration: none;
  font-size: medium;
  font-style: inherit;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
}
button:hover{
  margin-top: 5px;
  text-decoration: none;
  color: #fff;
  font-size: medium;
  font-style: inherit;
  border-radius: 15px;
  background-color: rgb(247, 208, 68);
}
#footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
} 



