 body {
  font-family: Arial, Helvetica, sans-serif;
    background-color: #ccffcc;
  /* margin: auto;
  max-width: 38rem;
  padding: 2rem; */
} 
/* 
button{
  width: 250px;
  height: 70px;
  background: rgb(250, 199, 186);
  display: inline-block;
  margin: 20px 30px;
  line-height: 250px;
  border: 10px solid rgb(248, 41, 5);
  
} */

.btn{
  border-radius: 100px;
  width: 300px;
  height: 115px;
  /* padding: 10px 20px; */
  /* background: rgb(250, 199, 186);
  display: inline-block;
  margin: 20px 30px;
  line-height: 250px; */
  margin: 5px 10px;

  /* border: 10px solid rgb(248, 41, 5); */
  border: 5px  solid rgb(252, 15, 7);
  /* box-shadow: 0px -15px 5px rgba(253, 5, 5, 0.966); */
  /* border: 0px -15px 5px rgba(253, 5, 5, 0.966); */
  /* padding: 3rem; */
}

.navbar {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 20px; /* Padding between tabs */
}

.navbar a:hover {
  background-color: #555;
}