body{
    background-color: rgb(191, 221, 233);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    height: 120vh;
    margin: auto;
    padding: 2rem;
    justify-content: center;
    width:40%;
}

.container {
    align-content: center;
    width: 460px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
}

.first-row{
    
    display: flex;
    
}

.first-row{
    width: 25px;
    margin-right: 30px
}

.payment{
    width:350px;
    height:60px ;
    margin-right:80px;

}


.payment .input-field input{
    width: 200px;
    height: 20px;
}
.input-field
{
    box-sizing: border-box;
}


input[type="text"],
input[type="number"],
textarea,
button {
    margin-bottom: 10px;
    width: 100%;
}

 #SaveButton {
    width: 101%; 
    height: 40px;
    background-color: rgb(8, 168, 8);
    
}
#BackButton {
    width: 101%; 
    height: 40px;
    background-color: red;
}

#fromAccount{
    width: 100%; 
    height: 30px;
}

#toAccount{
    width: 100%;
    height: 30px;
}

#pid{
    width: 50%;
    height: 25px; 
}

#prevBalance{
    width: 100%;
    height: 25px;
}

#amount{
    width: 100%;
    height: 25px;  
}