body {
    font-family: sans-serif;
    background-color: rgb(207, 205, 205); 
    margin: 0;
    padding: 0;
}

.container {
    /* text-align: center; */
    align-content: center;
    width: 460px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    
}

.first-row{
    width: 25px;
    margin-right: 30px;
    display: flex;
    height: 40px;
    
}
.payment{
    width:350px;
    height:60px ;
    margin-right:80px;
}

.date .input-field input{
    width: 250px;
    height: 30px;
    box-shadow: 5px 5px 5px grey;
    border-radius: 8px;
    
}

.payment .input-field input{
    width: 250px;
    height: 30px;
    box-shadow: 5px 5px 5px grey;
    border-radius: 8px;
    
}
.input-field
{
    box-sizing: border-box;
}

#comment{
    /* height: 30px; */
    width: 580px;
    border-radius: 8px;
    border: 1px solid transparent; 
  padding:  10px;
  box-shadow: 5px 5px 5px grey;
}

#fromAccount{
    width: 600px; 
    height: 25px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px grey;
    border: 1px solid transparent; 
}

#toAccount{
    width: 600px; 
    height: 25px;
    box-shadow: 5px 5px 5px grey;
    border: 1px solid transparent; 
    border-radius: 8px;
}

#pid{
    width: 100%; 
    height: 30px;
    box-shadow: 5px 5px 5px grey;
    border: 1px solid transparent; 
}

#prevBalance{
    width: 100%;
    height: 25px;
    
}

#amount{
    width: 100%;
    height: 25px;  
}

.border-hover {
    border: 1px solid transparent; 
    padding:  10px;
    box-shadow: 5px 5px 5px grey; 
  }
  
  .border-hover:hover {
    border-color:blue;
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    width: 100px;
  }
  
  .third-row{
    margin-left: 40%;  
    text-align: left;
  }
  .second-row{
    margin-left: 35%;  
    text-align: left;
  }

.no{
    width:350px;
    height:60px ;
    margin-right:80px;
}

.to .input-field input{
    width: 250px;
    height: 25px;
    box-shadow: 5px 5px 5px grey;
    border-radius: 8px; 
}

.no .input-field input{
    width: 250px;
    height: 25px;
    box-shadow: 5px 5px 5px grey;
    border-radius: 8px;  
}