*{
    background-color: aqua;
    margin:0;
    padding:0;
    
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .container{
    width: 450px;
    height: 400px;
    
    flex-direction: column;
    justify-content: center;
  }
  
  
  
  .from{
    width: 850px;
    margin-right:500px;
  }
  
   .from .input-field input{
    height:35px;
    width:300px;
  }
  
  .to{
    width:850px;
    margin-left:230px;
    margin-top: -56px;
    height: 30px;
  }
  
  .button1{
    background-color:green;
    height: 45px;
    width: 220px;
    
  }
  
  .button2{
    background-color:red;
    height: 45px;
    width: 220px;
    text-decoration: bold;
  }
  
  table{
    border-collapse: collapse;
    width: 450px;
  }
  
  
  th,tr{
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
   th{
    background-color:rgb(222, 215, 215);
   }