body{
    background-color: #CCFFCC;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    height: 120vh;
    margin: auto;
    padding: 2rem;
    justify-content: center; 
    width:40%;
}

.container { 
    align-content: center;
    width: 460px;
    margin: 0 auto;  
    flex-direction: column;
    justify-content: center;
}

.first-row{
    
    display: flex;
    
}

.first-row{
    width: 25px;
    margin-right: 30px
}

.payment{
    width:350px;
    height:60px ;
    margin-right:80px;

}


.payment .input-field input{
    width: 200px;
    height: 20px;
}
.input-field
{
    box-sizing: border-box;
}


/* input[type="text"],
input[type="number"],
textarea,
button {
    margin-bottom: 10px;
    width: 100%;
}

 #SaveButton {
    width: 101%; 
    height: 40px;
    background-color: rgb(8, 168, 8);
    
}
#BackButton {
    width: 101%; 
    height: 40px;
    background-color: red;
} */

#fromAccount{
    width: 100%; 
    height: 30px;
}

#toAccount{
    width: 100%;
    height: 30px;
}

#pid{
    width: 50%;
    height: 25px; 
}

#prevBalance{
    width: 100%;
    height: 25px;
}

#amount{
    width: 100%;
    height: 25px;  
}

.row{
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.buttons {
    text-align: center;
    margin-top: 20px;
    width: 120%; 
    height: 40px;
    margin-left: -45px;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.buttons button:first-child {
    background-color:green; /* Green */
    color: white;
    width: 40%; 
    height: 40px;
}
.buttons button:last-child {
    background-color: red;
    color: black;
    width: 40%; 
    height: 40px;
}

.first-row{
    display: flex;
    width: 40%; 
    height: 40px;
}

.no{
    width:300%;
    height: 30px;
    margin-right: 100px;
    align-items: right;
    justify-content: space-between;
}

#comment{
    height: 30px;
    width: 450px;
}
.input-field input{
    height: 25px;
}

