
body {
    font-family: sans-serif;
    background-color: rgba(242, 242, 242, 0.8); 
    
}

.container{
    margin: 4%;
    /* margin-left: 10%;
    margin-right: 20%; */
    border: 2px double;
    text-align: center;
    text-shadow: 2px;
    justify-content: center;
    width: 1050px;
    height: 550px;
    /* margin-left: 10%; */
    
   }

#container1{
    display: flex;
}

#id{
    border-radius: 8px;
    height: 15px;
    width: 150px;
    border: 1px solid transparent; 
  padding:  10px;
  box-shadow: 5px 5px 5px grey;
  margin:20px;
}

#usertype{
  border-radius: 8px;
  height: 25%;
  width: 150px;
  border: 1px solid transparent; 
padding:  10px;
box-shadow: 5px 5px 5px grey;
margin:20px; 
}



#name, #rate, #w_rate, #minimum_stock{
    border-radius: 8px;
    height: 15px;
    width: 500px;
    border: 1px solid transparent; 
  padding:  10px;
  box-shadow: 5px 5px 5px grey;
  margin:20px;
}
#password{
    border-radius: 8px;
    height: 15px;
    width: 380px;
    border: 1px solid transparent; 
  padding:  10px;
  box-shadow: 5px 5px 5px grey;
  margin:20px;
}

.border-hover {
    border: 1px solid transparent; 
    padding:  10px;
    box-shadow: 5px 5px 5px grey; 
  }
  
  .border-hover:hover {
    border-color:blue;
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 20px;
    border-radius: 5px;
    outline: none;
    margin-bottom: 30%;
  }
  
  .third-row{
    margin-left: 40%;  
    text-align: left;
  }
  .second-row{
    margin-left: 25%;  
    text-align: left;
  }



  #category {
    width: 450px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
  }
  
  /* Style the options */
  #category option {
    background-color: #f9f9f9;
    color:white;
    padding: 5px;
  }
  
  /* Style the selected option */
  #category option:checked {
    background-color: #ccc;
    color: #fff;
  } 


