*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    display:flex;
    background-color:#CCFFCC;  
     align-items: center; 
    height:80vh;
    display: flex;
    justify-content: center;
}

.container{
    width:600px;
    height:500px;
     justify-content:center ;
     flex-direction: column;
     justify-content: left;
}


.first-row {
    display: flex;
    width:90%;
    margin-right:40px;
}
.rate{
    width:300%;
    height:30px;
    margin-right:-500px;
    align-items:right;
    justify-content: space-between;

}

.second-row {
    display: flex;
    width:90%;
    margin-right:40px;
}

.stock{
    width:300%;
    height:30px;
    margin-right:-500px;
    align-items:right;
    justify-content: space-between;

}

#customer{
    width:90%;
    height:20px;
}

.product .input-field input{
    width:90%;
    height:20px;
}
.button1{
    background-color: rgb(96, 178, 96);
    width: 200px;
    height: 40px;
    margin-left: 20px;
}

.button2{
    background-color: rgb(241, 62, 62);
    margin-left:20px;
    width: 200px;
    height:40px;
    padding:10px;
}

#container1{
    display: flex;
}


