table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #F2F2F2;
}
/* CSS for buttons */
.button {
    background-color:rgb(204, 204, 13);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    /* border-radius: 5px;
    position:absolute;
    top: 50%;
    right: 10px;
    transform: translate(-50%); */

}
.container{
    width: 100%;
    padding: 20px;
    position: relative;
}
.button1 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: -5%;
    position:absolute;
    top: 50%;
    right: 20px;
    transform: translate(-50%);
    cursor: pointer;

}
.edit-button {
    background-color: #4CAF50;
    color: white;
}
.delete-button {
    background-color: #F44336;
}
/* CSS for menu */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F9F9F9;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
    margin: 8px 0;
    border-radius: 5px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    color: black;
    padding: 6px 0;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #F1F1F1
}
