body{
  height: 800px;
  width: 1120px;
  position: absolute;
  height: fit-content;
    text-align: left;
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-color: rgba(242, 242,242, 0.8);
}

.container{
  position: absolute;
margin-top:20px;
margin-left: 30px;
border: 2px solid;
width: 1100px;
height: 600px;
}
.first-row{
    display: flex;
    margin-left: 10%;
}
#date{
  height: 30px;
  width: 300px;
    border: 1px solid transparent;
    box-shadow: 5px 10px 8px grey;
    border-radius: 8px;
    text-indent: 5%;
  
}
label{
  margin-left: 5px;
}
#no{
    border-radius: 8px;
    height: 30px;
    width: 300px;
    border: 2px solid transparent; 
    text-indent: 10%;
    box-shadow: 5px 5px 5px grey;
 
}

.second-row{
  display: flex;
}

#number{
    border: 1px solid transparent;
    box-shadow: 5px 10px 8px grey;
    border-radius: 8px; 
    width:300px;
    height:30px;
    text-indent: 10%;
}
#dropdown, #supplier, #vehicle, #product{
    border: 1px solid transparent;
    box-shadow: 5px 10px 8px grey;
    border-radius: 8px;
    width:300px;
  height:35px;
  
}
.third-row{
    display: flex;
    margin-left: 10%;
}

#bata{
border: 1px solid transparent;
box-shadow: 5px 10px 8px grey;
border-radius: 8px;
width:200px;
height:30px;
text-indent: 10%;

}

#mark{
    border: 1px solid transparent;
    box-shadow: 5px 10px 8px grey;
    border-radius: 8px;
    width:230px;
    height:30px;
    text-indent: 10%;
}

.four-row{
  align-self: center;
}
#purchase{
    border: 1px solid transparent;
    box-shadow: 5px 10px 8px grey;
    border-radius: 8px;
    width:230px;
    height:30px;
    text-indent: 10%;
}

#sale{
    border: 1px solid transparent;
    box-shadow: 5px 10px 8px grey;
    border-radius: 8px;
    width:200px;
    height:30px;
    text-indent: 10%;
}

#quantity{
    border: 1px solid transparent;
    box-shadow: 5px 10px 8px grey;
    border-radius: 8px;
    width:100px;
    height:30px;
    /* margin-bottom: 5%; */
    text-indent: 10%;
}


#dropdown1, #unit{
    border: 1px solid transparent;
    box-shadow: 5px 10px 8px grey;
    border-radius: 8px;
    width:100px;
  height:35px;
  text-indent: 10%;
}
button {
    padding: 5px 20px;
    font-size: 16px;
    align-self: center;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    outline: none;

  }
  .back-button{
    border: 1px solid transparent;
    box-shadow: 5px 10px 8px grey;
    margin: 20px;
    margin-left: 480px;  }
  .back-button:hover {
    border-color: blue; 
  }

  table {
    width: 82%;
    border-collapse: collapse;
    margin-left: 10%;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #F2F2F2;
}
#total{
    border: 1px solid transparent;
    box-shadow: 5px 10px 8px grey;
    border-radius: 8px;
    width:14%;
    height:30px;
    text-indent: 10%;
}
.border-hover {
  margin-top: 35px;
  margin-left: 380px;
    border: 1px solid transparent;
    padding:  10px;
    box-shadow: 5px 5px 5px grey;
    width:20%;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  outline: none;
  margin-bottom: 30%;
  width:10%;
}