body{
    text-align: left;
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-color: rgb(207, 205, 205); 
}

.container{
 /* margin-left: 10%; */
 text-align: center;
}

#pavti{
    border-radius: 8px;
    height: 15px;
    width: 250px;
    border: 1px solid transparent; 
  padding:  10px;
  box-shadow: 5px 5px 5px grey;
  margin:20px;
}
#date{
    border-radius: 8px;
    height: 15px;
    width: 250px;
    border: 1px solid transparent;
  padding:  10px;
  box-shadow: 5px 5px 5px grey;
  margin:20px;
}
#number{
    border-radius: 8px;
    height: 15px;
    width: 350px;
    border: 1px solid transparent;
  padding:  10px;
  box-shadow: 5px 5px 5px grey;
  margin:20px;
}
#Khate{
  border-radius: 8px;
  height: 15px;
  width: 200px;
  border: 1px solid transparent; 
padding:  10px;
box-shadow: 5px 5px 5px grey;
margin:20px;
margin-left: -25%;
}

#comment{
    border-radius: 8px;
    height: 15px;
    width: 550px;
    border: 1px solid transparent; 
  padding:  10px;
  box-shadow: 5px 5px 5px grey;
  margin:20px;
  /* margin-left: -15%; */
  }
  
#dropdown{
    border-radius: 8px;
    height: 15px;
    width: 300px;
    border: 1px solid transparent; 
  padding:  10px;
  box-shadow: 5px 5px 5px grey;
  margin:20px;
  }

#no{
  border-radius: 8px;
  height: 15px;
  width: 50px;
  border: 1px solid transparent;
  padding:  10px;
  box-shadow: 5px 5px 5px grey;
  margin:20px;
}
#no1{
  border-radius: 8px;
  height: 15px;
  width: 150px;
  border: 1px solid transparent; 
  padding:  10px;
  box-shadow: 5px 5px 5px grey;
  margin:20px;
}

#total{
  border-radius: 8px;
  height: 15px;
  width: 150px;
  border: 1px solid transparent; 
padding:  10px;
box-shadow: 5px 5px 5px grey;
margin:20px;
margin-left: -27%;
}

.border-hover {
  border: 1px solid transparent; 
  padding:  10px;
  box-shadow: 5px 5px 5px grey;
  
}

.border-hover:hover {
  border-color:blue;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  outline: none;
  margin-bottom: 30%;
  width: 200px;
  /* margin-left: 20%;   */
}

.six-row{
  margin-left: 35%;  
  text-align: left;
}