body{
  text-align: left;  
  font-family: sans-serif;
  /* background-color: rgb(207, 205, 205);     */
  background-color: rgba(242, 242,242, 0.8);
}

.container{
  margin: 4%;
border: 2px double;
text-align: center;
text-shadow: 2px;
justify-content: center;
width: 1050px;
height: 800px;
}
#pavti{
  border-radius:3px;
  height: 15px;
  width: 300px;
  border: 1px solid transparent; 
padding:  10px;
box-shadow: 5px 5px 5px grey;
margin:20px;
}
#date{
  border-radius:3px;
  height: 15px;
  width: 300px;
  border: 1px solid transparent;
padding:  10px;
box-shadow: 5px 5px 5px grey;
margin:20px;
}
#account_group{
width:600px;
margin-left:2%;
}

#route_detail{
width:600px;
margin-left: 2%;
}
#message{
width:600px;
border-radius:3px; 
margin-left: 2%;
}
#remaining{
border-radius:3px;
height: 15px;
width: 300px;
border: 1px solid transparent; 
padding:  10px;
box-shadow: 5px 5px 5px grey;
margin:20px;
margin-left: 21%;
}
#cash{
border-radius: 3px;
height: 15px;
width: 300px;
border: 1px solid transparent;
padding:  10px;
box-shadow: 5px 5px 5px grey;
margin:20px;
}
#input3, #input6, #input8{
margin-left: 19%;
width:390px;
border-radius:3px;
height:26px;
}
.five-row{
display: flex;
margin-left: 17%;
}
#input1{
width: 120px;
margin-left: 23%;
border-radius:3px;
}

#input2, #input7{
width: 130px;
margin-left: 10%;
border-radius: 3px;
}
#input4{
width:350px;
margin-left: 22%;
border-radius:3px;
height:26px;
}

#input5{
width:340px;
margin-left: 25%;
border-radius: 3px;
height:26px;
}
#deposite{
border-radius: 8px;
height: 15px;
width: 840px;
border: 1px solid transparent; 
padding:  10px;
box-shadow: 5px 5px 5px grey;
margin:20px;

}


#no, #carate100, #carate150, #carate250,#carate350{
border-radius: 3px;
height: 15px;
width: 85px;
border: 1px solid transparent;
padding:  10px;
box-shadow: 5px 5px 5px grey;
margin:20px;
}

#total{
border-radius: 3px;
height: 15px;
width: 150px;
border: 1px solid transparent; 
padding:  10px;
box-shadow: 5px 5px 5px grey;
margin:20px;
margin-left: -42%;
}


.four-row{
display: flex;
}

#remaining1{
border-radius: 3px;
height: 15px;
width: 150px;
border: 1px solid transparent; 
padding:  10px;
box-shadow: 5px 5px 5px grey;
margin:20px;
margin-left: -42%;
}

.border-hover1 {
border: 1px solid transparent; 
/* padding:  10px; */
box-shadow: 5px 5px 5px grey;
width: 200px;

}

.border-hover1:hover {
border-color:blue;
}


.border-hover2{
border: 1px solid transparent; 
/* padding:  10px; */
box-shadow: 5px 5px 5px grey;
width: 200px;

}

.border-hover2:hover {
border-color:blue;
}


button {
padding: 10px 20px;
font-size: 16px;
border: none;
cursor: pointer;
/* margin: 10px; */
border-radius: 5px;
outline: none;
/* margin-bottom: 30%; */
width: 100px;

}

.third-row{
/* margin-left: 30%;   */
text-align: center;
}


.drop {
  width: 220px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

/* Style the options */
.drop option {
  background-color: #f9f9f9;
  color:white;
  padding: 5px;
}

/* Style the selected option */
.drop option:checked {
  background-color: #ccc;
  color: #fff;
}