body{
  font-family: sans-serif;
  text-align: center;
  background-color: rgba(242, 242, 242, 0.8);
}

.container{
  margin: 4%;
  border: 2px double;
  text-align: center;
  text-shadow: 2px;
  justify-content: center;
  width: 930px;
  height: 550px;
}

#dropdown{
  text-align: left;
  width: 50%;
  height: 40px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px grey;
  
} 

#border-hover {
  font-size: large;
  height: 35px;
  width: 30%;
  /* padding: 10px; */
  color:black;
  border: none;
  cursor : pointer;
  border-radius: 8px;
  box-shadow: 5px 5px 5px grey;
}