body {
    background-color: #ccffcc;
    font-family: Arial, Helvetica, sans-serif
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    
  }
  
  #container1{
    display: flex;
  }
  
  .container {
    /* width: 300px; */
    
    text-align: left;
    margin: 20px;
    
  } 
  
  label, input, button {
    margin: 10px;
  }
  
  #saveBtn {
    height: 40px;
    width: 300px;
    background-color: rgba(0, 128, 49, 0.849);
    color: #fff;
    border: none;
    padding: 10px;
  }
  
  #backBtn{
  width: 300px;
  height: 40px;
  padding: 10px;
  color: #fff;
  border: none;
  background-color: #f44336;
  }
  /* 
  #Id{
    width: 95%;
  } */
  
  #name{
    width: 95%;
    height: 20px;
  }
  
  #details{
    width: 95%;
    height: 20px;
  }
  
  
  #number{
    width: 95%;
    height: 20px;
  }
  
  #Id{
    height: 20px; 
  }
  
  #footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
  } 
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Display the list horizontally */
    justify-content: space-between;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  av ul li:last-child {
    margin-right: 0; /* Remove margin for the last item */
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
  }
  