body{
    text-align: left;  
    font-family: sans-serif;
    text-align: left;
    margin:0;
    padding:0;
    background-color: rgba(242, 242,242, 0.8);
  }


 .container{
    margin: 4%;
    margin-left: 3%;
    margin-right:3%;
    border: 2px double;
    text-align: center;
    text-shadow: 2px;
    justify-content: center;
    width: 1100px;
    height: 550px;
    /* margin-left: 10%; */
 }
  /* #fromdate{
    border-radius: 8px;
    height: 30px;
    width: 200px;
    box-shadow: 5px 10px 8px grey;
    border-color: rgb(24, 24, 24);
    text-indent: 10%;
    margin-right:1%;
    margin-left: 3%;
   
  }
  #todate{
    border-radius: 8px;
    height: 30px;
    width: 200px;
    box-shadow: 5px 10px 8px grey;
    border-color: rgb(24, 24, 24);
    text-indent: 10%;
    margin-left: 6%;
    margin-right:3%;
  } */

  
  #fromdate{
    border-radius: 8px;
    height: 35px;
    width: 350px;
    /* margin-right:-1; */
    margin-left: 1%; 
  }

  /* label{
    margin-left: 2%;
  }
   */
  #todate{
    border-radius: 8px;
    height: 35px;
    width: 350px;
    margin-left: 1%;
  }
.first-row{
    display: flex;
    margin-left: 20%;
  }

table {
    width: 380px;
    border-collapse: collapse;
    margin-left: 2%;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #F2F2F2;
}

 
#customer{
    border: 1px solid transparent;
        box-shadow: 5px 10px 8px grey;
        border-radius: 8px;
        width: 450px;
      height:35px;
      text-indent: 10%;
      margin-left: 7%;
      margin-right: 3%;  
  }
 #route1{
        border: 1px solid transparent;
        box-shadow: 5px 10px 8px grey;
        border-radius: 8px;
        width: 400px;
      height:35px;
      text-indent: 10%;
      margin-left: 16%; 
      margin-right: 4%;
      /* margin-right: -3%; */
    }

      button {
        padding: 5px 20px;
        font-size: 16px;
        /* background-color: grey; */
        /* color: white; */
        border: none;
        cursor: pointer;
        margin: 10px;
        border-radius: 5px;
        outline: none;
    
      }
      .border-hover{
        border: 1px solid transparent;
        box-shadow: 5px 10px 8px grey;
        margin: 20px;
        margin-left: 5%;
      }
      .border-hover:hover {
        border-color: blue; 
      }
