*{
    background-color: #7ac3de;
    margin:0;
    padding:0;
    
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .container{
    width: 750px;
    height: 500px;
    
    flex-direction: column;
    justify-content: center;
  }
  
  .first-row{
    display: flex;
    
  }
  
  .first-row{
    width: 90px;
    margin-right: 30px;
  }
  
  .bill-no{
    width: 700px;
    margin-right: 390px;
  }
  
  
  
  .input-field{
    width: 1px solid #999;
  
  }
  
  .input-field input{
  width: 100px;
  padding: 5px;
  }
  
  #grahk{
    background-color: aliceblue;
    width: 610px;
    height: 35px;
  }
  
  /* .second-row .input-field input{
    width:600px;
    height:25px;
  } */
  
  
  .third-row .input-field input{
    width:600px;
    height:35px;
  }
  
  .fourth-row .input-field input{
    width:300px;
    height:25px;
  }
  
  
  .btn{
    display: flex;
    background-color: rgb(243, 125, 125);
    width: 100px;
    height: 40px;
    margin-left: 380px;
    margin-top:-37px;
   justify-content: center;
  }
  
  .fifth-row .input-field input{
    width:600px;
    height:25px;
  }
  
  .sixth-row{
    display: flex;
    
  }
  
  .sixth-row{
    width: 40px;
    margin-right: 20px;
  }
  
   .sixth-row .bata{
    width:200px;
    margin-right:30px;
  }
  
  .sixth-row .input-field input{
    width:100px;
    height:20px
  }
  
  .sixth-row .input-field select{
     margin-left: 96px;
     margin-bottom: 30px;
  }
   
  
  #product h3{
    justify-content: center;
    margin-right:50px ;
  }
  #product{
    background-color: aliceblue;
    width: 610px;
    height: 35px;
    margin-left:-145px;
  }
  
  /* .seven-row .product{
    margin-left:-145px;
  }
  
  
  .seven-row .input-field input{
    width: 600px;
    height:25px;
  } */
  
  .eight-row{
    display: flex;
  }
  
  .eight-row .input-field input{
    width:50px;
    height:25px;
  }
  
  .eight-row .nag{
    margin-left:-145px;
  }
  
  .nag{
   width: 70px;
    margin-right:50px;
  }
  
  .kimat{
    width: 70px;
     margin-right:50px;
   }
  
   .dhani .button{
    width:100px;
    margin-left: 20px;
    margin-top: 28px;
    height:30px;
   }
  
   .nav{
    position: relative;
    width:300px;
    height:20px;
    
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
   }
  
   .nav a{
    position: relative;
    display: inline-block;
    font-size: 1em;
    background-color:gray;
    
    color:black;
    justify-content: center;
    padding: 14px 16px;
    text-decoration:solid;
  font-size: 17px;
  font-weight: bold;
  }
  
  .nine-row{
    display: flex;
    margin-left: -145px;
  }
  
  
  .nine-row .nine{
    margin-left:0px ;
  }
  .nine-row .input-field input{
    width:70px;
    height:25px;
    display: flex;
  }
  .carrot{
    width:70px;
    margin-right:60px;
  }
  .carrot1{
    width:50px;
    margin-right: 80px;
  }
  .carrot2{
  width:50px;
    margin-right:80px;
  }
  
  
  
  .form{
    margin-left:-147px;
    
  }
  .form input{
    margin-left:450px;
    height: 30px;
  }
  
  
  .tenth-row{
    display: flex;
  }
  
  .tenth-row{
    width: 100px;
    height: 20px;
    display: flex;
  }
  
  .row{
    margin-left:-145px;
  }
  
  .baki{
    margin-right:80px;
    margin-top: -58px;
  }
  
  .rakkm{
    margin-top: -58px;
    margin-left:160px;
  }
  
  
  .jama{
    display: flex;
    margin-left: -145px;
  }
  
  
  .jama .abc{
    margin-left:0px ;
  }
  .jama .input-field input{
    width:70px;
    height:25px;
    display: flex;
  }
  .abc{
    width:70px;
    margin-right:60px;
  }
  .def{
    width:50px;
    margin-right: 80px;
  }
  .ghi{
  width:50px;
    margin-right:80px;
  }
  
  .tip{
    margin-left: -145px;
  }
  #comment{
  width:600px;
  height:25px;
  margin-left:0px;
  }
  
  .button1{
    background-color: rgb(96, 178, 96);
    width: 300px;
    height: 40px;
  
  }
  
  .button2{
    background-color:#ff0000;
    width: 300px;
    height: 40px;
    ;
  }
  
  .container1{
    display: flex;
    margin-left: -145px;
    justify-content: space-between;
  }
  
  .nav1{
    position: relative;
    width:300px;
    height:30px;
    
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
   }
  
   .nav1 a{
    position: relative;
    display: inline-block;
    font-size: 1em;
    background-color:black;
    
    color:white;
    justify-content: center;
    padding: 14px 16px;
    text-decoration:solid;
  font-size: 17px;
  /* font-weight: bold; */
  text-decoration: underline;
  }