/* body {
    background-color: #ccffcc;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    
}

#container1{
    display: flex;
}

 .container {

    
    text-align: left;
    margin: 20px;
    
} 

label, input, button {
    margin: 10px;
}



#saveBtn {
    height: 40px;
    width: 300px;
    background-color: green;
    color: #fff;
    border: none;
    padding: 10px;
}

#backBtn{
  width: 300px;
  height: 40px;
  padding: 10px;
  color: #fff;
  border: none;
  background-color: #f44336;
}

#userId{
    width: 95%;
}

#username{
    width: 95%;
}

#name{
    width: 95%;
}

#password{
    width: 95%;
}

#footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
} 

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: space-between;
}

nav ul li {
    margin-right: 20px;
}

av ul li:last-child {
    margin-right: 0; 
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
  }
   */

   /* #name{
  border-radius: 8px;
  height: 25%;
  width: 150px;
  border: 1px solid transparent; 
padding:  10px;
box-shadow: 5px 5px 5px grey;
margin:20px;
} */


body {
  font-family: sans-serif;
  background-color: rgb(207, 205, 205); 
  
}

table {
  width : 94%;
  border-collapse: collapse;
  border: 2px solid;
  border-radius: 10px;
  margin-left: 20px; /* Add margin to the left side */
  margin-right: 20px; /* Add margin to the right side */
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}


.container{
  margin: 10%;
  margin-left: 35%;
  margin-right: 35%;
  border: 2px double;
  text-align: center;
  text-shadow: 2px;
  justify-content: center;
  /* margin-left: 10%; */
 }

#container1{
  display: flex;
}

#id{
  border-radius: 8px;
  height: 15px;
  width: 150px;
  border: 1px solid transparent; 
padding:  10px;
box-shadow: 5px 5px 5px grey;
margin:20px;
}

#usertype, #price, #rate,#bata,#date,#bill_no,#dateInput,#mark, #quantity{
border-radius: 8px;
height: 25%;
width: 150px;
border: 1px solid transparent; 
padding:  10px;
box-shadow: 5px 5px 5px grey;
margin:20px; 
}



#username, #address, #mobile_no, #comment, #route{
  border-radius: 8px;
  height: 15px;
  width: 380px;
  border: 1px solid transparent; 
padding:  10px;
box-shadow: 5px 5px 5px grey;
margin:20px;
}
#password{
  border-radius: 8px;
  height: 15px;
  width: 380px;
  border: 1px solid transparent; 
padding:  10px;
box-shadow: 5px 5px 5px grey;
margin:20px;
}

.border-hover {
  border: 1px solid transparent; 
  padding:  10px;
  box-shadow: 5px 5px 5px grey; 
}

.border-hover:hover {
  border-color:blue;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 20px;
  border-radius: 5px;
  outline: none;
  margin-bottom: 30%;
}

.third-row{
  margin-left: 30%;  
  text-align: left;
}
.second-row{
  margin-left: 35%;  
  text-align: left;
}

.form1 {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
}

.drop {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

/* Style the options */
.drop option {
  background-color: #f9f9f9;
  color:white;
  padding: 5px;
}

/* Style the selected option */
.drop option:checked {
  background-color: #ccc;
  color: #fff;
} 


