body{
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.8); /* Transparent background */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 0 auto;
}

th,td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;  
}
th{
    background-color: #f2f2f2;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 300px; 
}
.container input{
    width: 45%;
}        

.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px; /* Padding between tabs */
  }
  
  .navbar a:hover {
    background-color: #555;
  }

img{
    width: 80px;
    height: 80px;
    align-items: center;
}


#submitButton,  #submitButton1{
    
    background-color: #808080; /* Grey color */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

#submitButton:hover , #submitButton1:hover {
    background-color: #606060; /* Darker grey color on hover */
}

.center {
    text-align: center;
}


    

