body{
    font-family: sans-serif;
    text-align: center;
    background-color: rgba(242, 242, 242, 0.8);
}


.container{
    margin: 4%;
  border: 2px double;
  text-align: center;
  text-shadow: 2px;
  justify-content: center;
  width: 930px;
  height: 550px;
}

.first-row {
    display: flex;
    margin-left: 14%;
}
#todate{
    border-radius: 8px;
    height: 30px;
    width: 200px;
    box-shadow: 5px 10px 8px grey;
    border-color: rgb(24, 24, 24);
    text-indent: 10%;
    margin-left: 3px;

}

#fromdate{
    border-radius: 8px;
    height: 30px;
    width: 200px;
    box-shadow: 5px 10px 8px grey;
    border-color: rgb(24, 24, 24);
    text-indent: 10%;
    margin-right: 8%;
    margin-left: 10px;

}

.drop {
    border-radius: 8px;
    height: 35px;
    width: 570px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    margin-right: 55px;
  }

.border-hover {
    border: 1px solid transparent;
    padding:  10px;
    box-shadow: 5px 5px 5px grey;
  }
  .border-hover:hover {
    border-color:blue;
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    width: 200px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    outline: none;
    margin: 10px;
  }

#container1{
    display: flex;
}

table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.8); /* Transparent background */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 0 auto;
}
th,
td {
    border: 1px solid #DDDDDD;
    text-align: left;
    padding: 12px;
}
th {
    background-color: #F2F2F2;
}



