*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    
}



body{
    display:flex;
    background-color:#7ac3de;
     align-items: center; 
    height:80vh;
    display: flex;
    justify-content: center;
}


.container{
    width:650px;
    height:500px;
     justify-content:center ;
     flex-direction: column;
     justify-content: left;
}

.first-row {
    display: flex;
    width:90%;
    margin-right:50px;
}
.date{
    width:300%;
    height:30px;
    margin-right:-600px;
    align-items:right;
    justify-content: space-between;

} 

table{
    border-collapse: collapse;
    width:90%;
}

th,td{
    border:1px solid black;
    text-align: left;
    padding: 8px;
}
th{
    background-color: white;
}
#container2{
    display: flex;
}

.button3{
    background-color: rgb(96, 178, 96);
    width: 290px;
    height: 40px;
    margin-left:135px;
}
