*{ 
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(242, 242, 242, 0.8);
  }
  
  .container{
    width: 1030px;
    height: 400px;
    border:  2px solid black;;
    flex-direction: column;
    justify-content: center;
    margin-left: 8px;
  }
  
  #customer{
    border-radius: 8px;
    height: 35px;
    width:580px;
    margin-left: 1%;
}
label{
  margin-left: 10%;
}

  .third-row{
    height: 35px;
    width: 200px;
    display: flex;
  }

  #button1{
    border-radius: 8px;
    height: 35px;
    width: 300px;
    margin-left: 18%;
  }
  
  #button2{
    border-radius: 8px;
    height: 35px;
    width: 300px;
  }
   
  table{
    border-collapse: collapse;
    width: 700px;
    margin-left: 10%;
  }
  
  
  th,tr{
    border: 1px solid black;
    text-align: left;
    padding: 15px;
  }
   th{
    background-color:rgb(222, 215, 215);
   }
  

  

