/* body{
    font-family: sans-serif;
    background-color: rgb(207, 205, 205); 
}
table {
    width: 100%;
    border: 2px solid;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.container{
    width:100%;
    padding: 20px;
    position: relative;
}

.button1 {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: -2%;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(-50%);
    cursor: pointer;
}
.button {
    border: 1px solid transparent; 
    padding:  10px;
    box-shadow: 5px 5px 5px grey;   
} 
  .button:hover {
    border-color:blue;
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    outline: none;
    margin-bottom: 30%;
  }  
  .button1 {
    border: 1px solid transparent; 
    padding:  10px;
    box-shadow: 5px 5px 5px grey;   
} 
  .button1:hover {
    border-color:blue;
  } */

/* Styles for the button */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}



/* Styles for the edit and delete buttons */
.edit-button, .delete-button {
    background-color: #28a745;
}

.delete-button {
    background-color: #dc3545;
}

/* Styles for links */
a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


body{
    font-family: sans-serif;
    background-color: rgb(207, 205, 205); 
}


.container {
  width: 100%;
  padding: 20px;
  position: relative;
  text-align: center; /* Center the content */
}

h1 {
  display: inline-block; /* Make the heading inline-block */
  margin-right: 50px; /* Add margin to create space between heading and button */
}

.button1 {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background-color: grey;
  margin-left:  50%;
}


table {
  width : 94%;
  border-collapse: collapse;
  border: 2px solid;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px; /* Add margin to the left side */
  margin-right: 20px; /* Add margin to the right side */
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.set-user-menu-button {
  display: block;
  margin: 20px auto; /* Center the button horizontally */
}